@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    box-sizing: border-box;
}

div {
    border: 1px solid black;
    position: absolute;
    height: 250px;
    width: 400px;
    margin: auto;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    text-align: center;  
    left: 50%;
    top: 50%;    
    transform: translate(-50%, -50%);
}

form {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    flex-direction: column;
}



label, input {
    margin-bottom: 20px;
}
